.chart-conatiner {
  max-width: 100vw;
  display: block;
  margin: 10px auto;
  height: 80vh;
  background-color: lightgray;
  padding: 1rem;
}

#chart {
  background-color: #fff;
}
.countries-tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.countries-tab label {
  background-color: lightgray;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.countries-tab label.selected {
  background-color: gray;
  color: white;
}

input {
  visibility: hidden;
  position: absolute;
}

.chart-conatiner {
  display: none;
}

@media screen and (max-width: 390px) {
  .chart-conatiner {
    height: 70vh;
  }
}
